attrs==19.3.0
certifi==2019.11.28
chardet==3.0.4
glob2==0.7
idna==2.9
Mako==1.1.1
MarkupSafe==1.1.1
more-itertools==8.2.0
packaging==20.1
parse==1.14.0
parse-type==0.5.2
pluggy==0.13.1
py==1.8.1
pychromedriver==81.0
PyMySQL==0.9.3
pyparsing==2.4.6
pytest==5.3.4
pytest-base-url==1.4.1
pytest-bdd==3.2.1
pytest-html==2.0.1
pytest-metadata==1.8.0
pytest-selenium==1.17.0
pytest-variables==1.9.0
requests==2.23.0
selenium==3.141.0
six==1.14.0
urllib3==1.25.8
wcwidth==0.1.8
